/* General page style */
body { 
  background-color: #888888;
  color: #999999; 
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

h1 { 
  padding: 2px; 
  margin: 0px; 

  color: #ffffff; 
  font-family: 'Oswald', sans-serif;
  font-weight: 700;

  font-variant: small-caps;
  font-size: 40px; 
}

/* Barre de navigation */

div#navbar, section.content { 
  display: flex; 
  flex-direction: row;
  padding: 5px 20px; 
  margin: 10px 0;
  
  border-radius: 10px; 
  /* border: 1px solid #a4a1a1;  */
  box-shadow: 0px 0px 4px #bbbbbb;

  background-color: #bbbbbb;
}

nav a { 
  display: flex; 

  margin: 5px; 
  padding: 5px 10px;

  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-decoration: none;
  
  color: #fff; 
  text-align: center;

  border-radius: 15px; 
  background-color: #cbcbcb;
}

nav a:hover { 
  letter-spacing: 2px;
  transition: all ease 1s; 
  -moz-transition: all ease 1s; 
  -webkit-transition: all ease 1s; 
  -ms-transition: all ease 1s; 
  -o-transition: all ease 1s; 
}
/* Fin barre de navigation */

.content { 
  display: flex; 
}

/* Scrollbar */ 
div.clear ::-webkit-scrollbar {
    height: 3px; 
    width: 10px; 
    background-color: #E6E6E6; /* couleur de fond */
  }
   
  html > 
  div.clear -webkit-scrollbar {
    width: 5px; /* largeur de la barre */
  } 
   
  div.clear ::-webkit-scrollbar-thumb {
    background: #D9EDFF; /* couleur de la barre qui se déplace */
    border-radius: 50px;  /* Arrondis */
    border: 1px solid #D3EBFF; 
  }
   
  div.clear ::-webkit-scrollbar-track-piece {
    background-color: #FFF5E4; /* couleur de fond */
  } 
   
  div.clear ::-o-scrollbar {
    height: 3px; 
    width: 10px; 
    background-color: #E6E6E6; /* couleur de fond */
  }
   
  html > 
  div.clear -o-scrollbar {
    width: 5px; /* largeur de la barre */
  } 
   
  div.clear ::-o-scrollbar-thumb {
    background: #D9EDFF; /* couleur de la barre qui se déplace */
    border-radius: 50px;  /* Arrondis */
    border: 1px solid #D3EBFF;
  }
   
  div.clear ::-o-scrollbar-track-piece {
    background-color: #FFF5E4; /* couleur de fond */
  } 
/* Fin Scrollbar */ 

/* Personnalization "titre" */
.titre { 
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 24px;  
  color: #888888; 
}
