div.chartpie { 
    /* border: 2px solid #15aa42;  */
    display: flex;
    flex-direction: column;

    margin: 5px; 
    padding: 10px; 

    border-radius: 5px;
    background-color: #cbcbcb;

    text-align: center;
}

div.chartpie img, div.chartpie span { 
    display: flexbox; 

    border-radius: 5px; 
    background: #fff; 
}

div.histograms { 
    width: 100%;
    display: flex; 
    flex-direction: column;

    border-radius: 5px;
    background-color: #cbcbcb;
    
    margin: 5px; 
}
div#mes_contenus { 
    display: flexbox; 
    flex-direction: column;
    margin: 10px; 
}
div.row { 
    display: flex; 
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
}
div.histograms img { 
    max-height: 300px; 
}

/* Onglets */ 
.mon_onglet, .mon_onglet_selected {
    text-align: center;
    padding: 5px 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px; 
    background: #dddddd; 
}
.mon_onglet:hover, .mon_onglet_selected:hover { 
    letter-spacing: 2px;
    transition: all ease 1s; 
    -moz-transition: all ease 1s; 
    -webkit-transition: all ease 1s; 
    -ms-transition: all ease 1s; 
    -o-transition: all ease 1s; 
}
.mon_onglet_selected {
    color: #a4a1a1; 
    background-color: #ffffff;
}
.clear {
    clear: both;
}
.mon_contenu {
    text-align: center; 

    padding: 10px;

    overflow: auto; 
    border-radius: 5px; 
    background: #ffffff;
}
.mon_contenu img {
    max-width: 90%; 
}
#mes_onglets {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: flex-end;
    margin: 10px; 
}
/* Fin onglets */ 