/* Scrollbar */ 
div.clear ::-webkit-scrollbar {
    height: 3px; 
    width: 10px; 
    background-color: #E6E6E6; /* couleur de fond */
  }
   
  html > 
  div.clear -webkit-scrollbar {
    width: 5px; /* largeur de la barre */
  } 
   
  div.clear ::-webkit-scrollbar-thumb {
    background: #D9EDFF; /* couleur de la barre qui se déplace */
    border-radius: 50px;  /* Arrondis */
    border: 1px solid #D3EBFF; 
  }
   
  div.clear ::-webkit-scrollbar-track-piece {
    background-color: #FFF5E4; /* couleur de fond */
  } 
   
  div.clear ::-o-scrollbar {
    height: 3px; 
    width: 10px; 
    background-color: #E6E6E6; /* couleur de fond */
  }
   
  html > 
  div.clear -o-scrollbar {
    width: 5px; /* largeur de la barre */
  } 
   
  div.clear ::-o-scrollbar-thumb {
    background: #D9EDFF; /* couleur de la barre qui se déplace */
    border-radius: 50px;  /* Arrondis */
    border: 1px solid #D3EBFF;
  }
   
  div.clear ::-o-scrollbar-track-piece {
    background-color: #FFF5E4; /* couleur de fond */
  } 
  /* Fin Scrollbar */ 
  
  /* Onglets histogrammes */ 
  .mon_onglet {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    margin: 4px;
    font-family: 'Lobster', cursive;
    color: #FFBE4F;
    border: solid 1px #FFBE4F; 
    border-left: solid 3px #FFBE4F;   
    border-right: solid 3px #FFBE4F; 
    border-radius: 15px; 
    background: #FFFFA6; 
  }
  .mon_onglet_selected {
    display: inline-block; 
    text-align: center;
    padding: 5px 10px; 
    margin: 4px;
    font-family: 'Lobster', cursive;
    color: #FFFFA6;
    border: solid 1px #FFBE4F; 
    border-left: solid 3px #FFBE4F;   
    border-right: solid 3px #FFBE4F; 
    border-radius: 15px; 
    background: #FFBE4F; 
  }
  .clear {
    clear: both;
  }
  .mon_contenu {
    text-align: center; 
    border: solid 1px #FFBE4F; 
    border-left: solid 5px #FFBE4F;   
    border-right: solid 5px #FFBE4F; 
    border-radius: 20px; 
    color: #FFBE4F;
    padding: 10px;
    margin: 10 px;
    height: 200px;
    overflow: auto; 
    background: #FFFFA6; 
  }
  .mon_contenu img {
    width: 90%; 
  }
  #mes_contenus, #mes_onglets {
    height: 100%;
    width: 100%;
    /* border: 2px #f8e solid;  */
  }
  #mes_onglets {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: flex-start;
  }
  div.histograms {
    width: 650px; 
  }
  /* Fin onglets histogrammes */ 