
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- CSS File -->
    <link href="/static/css/basestyle.css" rel="stylesheet" />
    {% block additional_css %}{% endblock %}
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!-- JS File -->
    <script src="/static/js/compviz.js"></script>
    {% block additional_js %}{% endblock %}
</head>
<body>
    <nav>
    <h1>UnweaveNet data visualization</h1>
    <div id="navbar">
        <a href="/total">Total</a>
        <a href="/train">Train</a>
        <a href="/val">Validation</a>
        <a href="/test">Test</a>
    </div>
    </nav>
    <section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
        {% block content %}{% endblock %}
    </section>
</body>