<!doctype html>
<html lang="en">
<head>
    <title>UnweaveNet Data Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- CSS File -->
    <link href="/static/css/basestyle.css" rel="stylesheet" />
    {% block additional_css %}{% endblock %}
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- JS File -->
    {% block additional_js %}{% endblock %}
</head>
<body>
    <nav>
    <h1>UnweaveNet data visualization</h1>
    <div id="navbar">
        <a href="/total">Total</a>
        <a href="/train">Train</a>
        <a href="/val">Validation</a>
        <a href="/test">Test</a>
    </div>
    </nav>
    <header>
        {% block header %}{% endblock %}
    </header>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
</body>