<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <!-- CSS File -->
  <link href="/static/css/compvviz.css" rel="stylesheet" />
  <!-- Font -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <!-- JS File -->
  <script src="/static/js/onglet.js"></script>
</head>

<body>
  <title>UnweaveNet data visualization</title>
  {% if name %}
    <h1>Hello {{ name }}!</h1>
  {% else %}
    <h1>Hello, World!</h1>
  {% endif %}
  <div class="histograms">
    <div id="mes_onglets">
      <span onclick="changeOnglet(this);" class="mon_onglet_selected" id="o_1">Complete dataset </span> 
      <span onclick="changeOnglet(this);" class="mon_onglet" id="o_2">Train </span> 
      <span onclick="changeOnglet(this);" class="mon_onglet" id="o_3">Validation</span> 
      <span onclick="changeOnglet(this);" class="mon_onglet" id="o_4">Test</span> 
    </div>        
    <div class="clear">
      <div id="mes_contenus">
        <div class="mon_contenu" id="co_1">
          Onglet 1
        </div>

        <div style="display: none;" class="mon_contenu" id="co_2">
          Onglet 2
        </div>

        <div style="display: none;" class="mon_contenu" id="co_3">
          Onglet 3
        </div>
        
        <div style="display: none;" class="mon_contenu" id="co_4">
          Onglet 4
        </div>
      </div>
  </div>
</body>