<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <!-- CSS File -->
  <link href="/static/css/compvviz.css" rel="stylesheet" />
  <!-- Font -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <!-- JS File -->
  <script src="/static/js/compviz.js"></script>
</head>

<body>
  <title>UnweaveNet data visualization</title>
  {% if name %}
    <h1>Hello {{ name }}!</h1>
  {% else %}
    <h1>Hello, World!</h1>
  {% endif %}

  <form method ="post" class="timeline"> 
    <!-- action = "/selected_video_story"  -->
    <select name="video_id_sl" width="300px" id="select_list">
      <option DISABLED SELECTED>Choose the video_id</option>
      {% for video_id in video_ids_list %}
      <option value="{{ video_id }}">{{ video_id }}</option>
      {% endfor %}
    </select>
    <button onclick="showSelectedIndex(this)" id="select_btn">Get the Selected Index</button>
    <iframe src="/selected_video_story" id="video_id_sel_iframe" frameborder="0"></iframe>
  </form>

  <div class="histograms">
    <div id="mes_onglets">
      <span onclick="changeOnglet(this);" class="mon_onglet_selected" id="o_1">Complete dataset </span> 
      <span onclick="changeOnglet(this);" class="mon_onglet" id="o_2">Train </span> 
      <span onclick="changeOnglet(this);" class="mon_onglet" id="o_3">Validation</span> 
      <span onclick="changeOnglet(this);" class="mon_onglet" id="o_4">Test</span> 
    </div>        
    <div class="clear">
      <div id="mes_contenus">
        <div class="mon_contenu" id="co_1">
          <img src="/plot_histo_total.png" alt="complete dataset histogram">
        </div>

        <div style="display: none;" class="mon_contenu" id="co_2">
          <img src="/plot_histo_train.png" alt="train data histogram">
        </div>

        <div style="display: none;" class="mon_contenu" id="co_3">
          <img src="/plot_histo_val.png" alt="validation data histogram">
        </div>
        
        <div style="display: none;" class="mon_contenu" id="co_4">
          <img src="/plot_histo_test.png" alt="test data histogram">
          <!-- <img src="/plot_stories.png" alt="my plot"> -->
        </div>
      </div>
  </div>

</body>